body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #636161;
  color: #090909;
  backdrop-filter: blur(10px);
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 100px;
    text-shadow: 1px 1px 2px black;
}
header h1{
    margin-bottom: 2px;
    color: black;
    text-shadow: 0.5px 0.5px 1px rgb(173, 171, 171);
}
header::backdrop {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
::backdrop{
    backdrop-filter: blur(10px);
}
header {
    background: url(https://media.istockphoto.com/id/515309292/photo/overhead-view-of-brown-wooden-table.webp?a=1&b=1&s=612x612&w=0&k=20&c=6zCFODygGNewb0wfoIzRtP1kI-0m-Ch3K22u_hgiUX8=);
  color: rgb(26, 25, 25);
  padding: 60px;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: stretch;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.Snickeri{
    color: #c2bfbf;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
.vilo{
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
header img{
    border-image: stretch;
}
header p {
    margin-top: 2px;
}

nav {
  background: rgba(0, 0, 0, 0.9)
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

nav ul li {
  margin: 0 15px;
}
nav ul li :hover{
    padding: 2.5px 25px;
    border-radius: 3px;
    border: 1px solid black;
    background: #a5a3a3;
    color: #000000;
    font-weight: normal;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: #3e3e3e;
  color: white;
  text-align: center;
  padding: 20px;
}


#tjanster ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  list-style: none;
}

#tjanster li {
  background-color: #b3adad;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 4px;
  text-align: center;
  font-weight: bold
}

.splide__slide img {
    display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}
.box1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: #959393;
  padding: 35px;
  border: 1px solid #000000;
  border-radius: 0%;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  margin-top: 35px;
}
.Galleri {
    display: flex;
    box-shadow:  8px 8px 15px rgba(0, 0, 0, 0.8);
    margin-bottom: 120px;
}

.footerbox {
  max-width: 600px;
  margin-left: 0;     
}

footer .kontakt {
  text-align: left;
  color: #000000;
}

footer .kontakt h2 {
  margin-bottom: 0px;
}

footer .kontakt p {
  margin: 0px;
}

footer .copyright {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9em;
  color: #ccc;
}